* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('fondo\ rosa\ palo.jpg');
  }
  
  .Contacto {
    width: 500px;
    background: #cfcccc;
    padding: 70px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Aachen Std Medium';
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    box-shadow: 7px 13px 37px #000;
  }
  
  
  .campo {
    width: 100%;
    background: #bc958d;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #bc958d;
    font-family: 'Bagus';
    text-align: left;
    font-size: 18px;
    color: white;
  }

  .input-text {
    width: 100%;
    background: #bc958d;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #bc958d;
    font-family: 'Bagus';
    font-size: 18px;
    color: white;
  }
  
  .Contacto p {
    height: 40px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
  }
  
  .Contacto a {
    color: white;
    text-decoration: none;
  }
  
  .Contacto a:hover {
    color: white;
    text-decoration: underline;
  }

  .boton {
    background-color: #2d816f; 
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Aachen Std Medium';
    font-size: 20px;
}

.boton:hover {background-color: #1b5351}

.boton:active {
  background-color: #3e8e83;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}